@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

a {
  @apply text-xl;
}

img {
  margin: auto;
}

h1 {
  @apply text-5xl;
  @apply text-center;
  @apply font-bold;
  @apply my-8;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.btn-primary,
.btn-secondary {
  @apply text-base-100;
}

.badge {
  @apply text-white;
}

@keyframes myAnimation {
  to {
    opacity: 1;
    z-index: -10;
  }
}

.carouselAnimation {
  animation-name: myAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.tabcontent {
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

svg {
  font-size: 28px;
}